html,body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #dae2db;
}
.l_header {
  margin-left: 50px;
  margin-right: 50px;
}
.l_nav {
  box-shadow: 0 2px 3px hsla(0,0%,4%,.1);
  background-color: #ffffff;
}
.c_header {
  width: 100%;
  height: 70px;
  background-color: #ffffff;
}
.c_left__nav {
  float: left;
}
.c_logo {
  font-weight: bold;
  font-size: 20px;
  align-items: center;
  padding: 6px;
}
.c_right__nav {
  float: right;
}
.c_right__nav h4 {
  color: cornflowerblue;
  text-decoration: underline;
  padding: 4px;
}
.l_slider {

}
.c_slider {
  background-image: url('./student-texting-smart-phone_925x.jpg');
  height: 400px; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}
.c_slider__title {
  font-weight: bold;
  color: #393939;
}

.l_slider__inner {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.l_main {
  padding: 50px;
}
.l_main__inner {
  
}

.c_main {
  display: flex;
}
.l_filter__left {
  width: 140px;
  height: 154px;
  background-color: #f4f2f3;
  padding: 20px;
  border-radius: 6px;
}
.c_filter__title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.c_tick__box {
  padding-top: 11px;
  padding-bottom: 11px;
  font-weight: bold;
}
.c_checkbox .c_checkbox__input {
  display: none;
}
.c_checkbox .c_checkbox__input {
  display: none;
}

.c_checkbox .c_checkbox__input:focus {
  outline: none;
}

.c_checkbox .c_checkbox__input:checked+.c_checkbox__item .icon_widget__check__out {
  display: none;
}

.c_checkbox .c_checkbox__input:checked+.c_checkbox__item .icon_widget__check {
  display: inline;
  margin-top: 5px;
}

.c_checkbox .c_checkbox__input:checked+.c_checkbox__item .c_text {
  color: #393939;
}
.c_checkbox .c_checkbox__item {
  display: inline;
  align-items: center;
}

.c_checkbox .c_checkbox__item .icon_widget__check__out {
  display: inline;
}

.c_checkbox .c_checkbox__item .icon_widget__check,
.c_checkbox .c_checkbox__item .icon_widget__check__none {
  display: none;
}
.c_icon {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}
.c_icon + .c_icon {
  margin-top: 5px;
}
.icon_widget__check {
  fill: #3e99fd;
}
.l_label {
  font-size: 16px;
  margin: 5px 0px 0px 10px;
  font-weight: bold;
  color: #393933;
  position: absolute;
}

/* right content */

.l_content {
  margin-left: 20px;
}
.c_content {
  margin: 0 auto;
}

.c_content:after {
  content: "";
  display: table;
  clear: both;
}


.c_card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 6px;
}

.c_card__title {
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}
.c_card__img {
  height: 220px;
  background-color: wheat;
  margin-top: 20px;
}
.c_card__container {
  width: 25%;
  height: 350px;
  float: left;
  padding: 0px 40px 40px 40px;
}

.l_add_cart {
  margin: 20px 25px 0 25px;
}

.c_add__cart {
  width: 100%;
  height: 36px;
  color: #3271dc;
  padding: 5px 16px;
  border-radius: 16px;
  border: 1px solid #3271dc;
  background-color: transparent;
}