body {
  background-color: rgba(0, 0, 0, .5);
  font-family: 'Roboto', sans-serif;
}

.l_modal {
  width: 600px;
  height: 324px;
  background-color: #eeeeee;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, .2);
}

.c_icon__close {
  border: 0px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='gray' viewBox='0 0 16 16'><path class='icon_close' d='M9.3,8l6.7,6.7L14.7,16L8,9.3L1.3,16L0,14.7L6.7,8L0,1.3L1.3,0L8,6.7L14.7,0L16,1.3L9.3,8z' /></svg>") no-repeat;
  cursor: pointer;
}

.c_button {
  float: right;
}

.c_close__icon {
  width: 16px;
  height: 16px;
}

.c_modal {
  display: flex;
}

.c_case__img {
  width: 30%;
  float: left;
  padding: 20px;
}

.c_img {
  height: 220px;
  background-color: wheat;
}

.l_detail__info {
  padding: 20px;
}

.c_detail {
  border: 1px solid rgba(50,115,220,.2);
  border-radius: 6px;
  width: 264px;
  height: 214px;
}

.c_title {
  padding-top: 20px;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  color: rgb(74, 74, 74);
}

.c_sub__detail {
  font-size: 14px;
  padding: 20px;
  color: rgb(74, 74, 74);
}